# Backend (Render)
PORT=5000

# Frontend (Vercel)
REACT_APP_API_URL=http://localhost:5000
REACT_APP_FIREBASE_API_KEY=AIzaSyD5czTSvV7meNiWDwCXCRnWUbrd89OFSn4
REACT_APP_FIREBASE_AUTH_DOMAIN=ai-hackathon-b5bfb.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=ai-hackathon-b5bfb
REACT_APP_FIREBASE_STORAGE_BUCKET=ai-hackathon-b5bfb.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=485359047386
REACT_APP_FIREBASE_APP_ID=1:485359047386:web:a23bf167a6a717c02d4be3
REACT_APP_FIREBASE_MEASUREMENT_ID=G-53214BTD3K
REACT_APP_SUPABASE_URL=https://your-project.supabase.co
REACT_APP_SUPABASE_ANON_KEY=your-anon-key
